@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

* {
     font-family: 'Poppins';
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
#container{
     height: 101vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #201b2c;
}
#login {
     background-color: #2f2841;
     display: flex;
     flex-direction: column;
     padding: 30px 40px;
     border-radius: 0 2% 2% 0;
}
#header h1 {
     font-size: 30px;
     color: #77ffc0;
     position: relative;
}
#header h1::before {
     position: absolute;
     content: '';
     width: 40%;
     background-color: blueviolet;
     height: 3px;
     bottom: 11px 5px;
     border-radius: 5px;
}
.vector {
     height: 47.3vh;
     width:30%;
     background-color: #362f48;
     padding: 30px 100px;
     border-radius: 2% 0 0 2%;
}
#social_media {
     display: flex;
     justify-content: space-around;
}
#social_media img{
     height: 40px;
}
#social_media img:hover{
     transform: scale(1.1);
}
#inputs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 12px;
     padding: 5px;
}
.input-box label {
     color: whitesmoke;
}
.input-field {
     display: flex;
     align-items: center;
     gap: 15px;
     padding: 1px;
     cursor: text;
     border-bottom: 1px solid #77ffc0;
}
.input-field input{
     border: none;
     background-color: transparent;
}
.input-field input:focus {
     outline: none;
}
#already_account a{
     text-decoration: none;
     color: whitesmoke;
}
#register-button {
     border: none;
     background-color: blueviolet;
     color: whitesmoke;
     padding: 7px;
     font-size: 15px;
     border-radius: 3px;
     font-weight: bold;
}
#register-button:hover {
     transform: scale(1.05);
}